@model RegattaManager.Models.RaceDraw

@{
    ViewData["Title"] = "Bereich gemeldeter Botte erstellen";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Bereich gemeldeter Botte erstellen</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ReportedSBCountFrom" class="control-label"></label>
                <input asp-for="ReportedSBCountFrom" class="form-control" />
                <span asp-validation-for="ReportedSBCountFrom" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReportedSBCountTo" class="control-label"></label>
                <input asp-for="ReportedSBCountTo" class="form-control" />
                <span asp-validation-for="ReportedSBCountTo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VorlaufCount" class="control-label"></label>
                <input asp-for="VorlaufCount" class="form-control" />
                <span asp-validation-for="VorlaufCount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HoffnungslaufCount" class="control-label"></label>
                <input asp-for="HoffnungslaufCount" class="form-control" />
                <span asp-validation-for="HoffnungslaufCount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ZwischenlaufCount" class="control-label"></label>
                <input asp-for="ZwischenlaufCount" class="form-control" />
                <span asp-validation-for="ZwischenlaufCount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EndlaufCount" class="control-label"></label>
                <input asp-for="EndlaufCount" class="form-control" />
                <span asp-validation-for="EndlaufCount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="isAbteilungslauf" class="control-label"></label>
                <input asp-for="isAbteilungslauf" class="form-control" />
                <span asp-validation-for="isAbteilungslauf" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

