@model RegattaManager.Models.Regatta
@{
    ViewData["Title"] = "Oldclasses";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Zugelassene Startklassen</h2>
<h3>
    Model.Name
</h3>
<hr />

<div class="row">
    <div class="col-md-4">
        <form asp-action="Oldclasses">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input hidden asp-for="RegattaId" />
            </div>
            <div class="form-group">                
                @Html.ListBox("OldclassId", ViewBag.OldclassId as MultiSelectList,new { size = 15 })
            </div>
            <div class="form-group">
                <input type="submit" value="Erstellen" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>